footer.footer
    .footer__wrapper
        p.footer__text
            | Priyanshu Vanra
            | Creative developer

        ul.footer__list
            li.footer__list__item
                a.footer__link(href="#") Twitter,

            li.footer__list__item
                a.footer__link(href="#") Instagram,

            li.footer__list__item
                a.footer__link(href="#") Github
