footer.footer
    .footer__wrapper
        .footer__text
            p.footer__text--p
                | Priyanshu Vanra
                | Creative developer

        ul.footer__list
            li.footer__list__item
                a.footer__link(href="https://twitter.com/PriyanshuVanra") Twitter,

            li.footer__list__item
                a.footer__link(href="https://www.linkedin.com/in/priyanshu-vanra-059195243/") LinkedIn,

            li.footer__list__item
                a.footer__link(href="https://github.com/devilx2055") Github

        .footer__text
            p.footer__text--p
                | CREATED AND DESIGNED BY
                | PRIYANSHU VANRA
