nav.navigation
    .navigation__wrapper
        a.navigation__link(href="/")
            | Priyanshu Vanra

        ul.navigation__list
            li.navigation__list__item
                a.navigation__link(href="/work") Work,

            li.navigation__list__item
                a.navigation__link(href="/about") About,

            li.navigation__list__item
                a.navigation__link(href="/contact") Contact

        a.navigation__link-2(href="#") Menu
        //- --------------------- Hamburger ----------------------

    .navigation__wrapper-2
        a.ham__btn(href="#") Close

        .hamburger__menu
            .hamburger__menu__wrapper
                a.hamburger__menu__link(href="/")
                    | Priyanshu Vanra

                ul.hamburger__menu__list
                    li.hamburger__menu__list__item
                        a.hamburger__menu__list__link(href="/work") Work,

                    li.hamburger__menu__list__item
                        a.hamburger__menu__list__link(href="/about") About,

                    li.hamburger__menu__list__item
                        a.hamburger__menu__list__link(href="/contact") Contact
