.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: $font-ppneue;
  mix-blend-mode: difference;
  z-index: 10;

  &--active {
    mix-blend-mode: normal;
  }
}

.navigation__wrapper {
  @extend %container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %description-22;
  position: relative;
  top: 4.5rem;
}

.navigation__link {
  @extend %btn-a;
  padding-bottom: 0.5rem;
  color: white;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @include media("<=phone") {
    display: none;
  }
}

.navigation__link {
  @extend %link--hidden;
  color: white;
}

.navigation__link-2 {
  color: white;
  position: absolute;
  top: 0;
  right: 7rem;
  visibility: hidden;

  @include media("<=phone") {
    visibility: visible;
    right: 0;
  }
}

// Hamburger

.navigation__wrapper-2 {
  height: 100vh;
  width: 100%;
  background-color: $color-black;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;

  &--active {
    visibility: visible;
  }

  .ham__btn {
    color: $color-white;
    position: absolute;
    right: 3rem;
    top: 4.5rem;
    @extend %description-22;
  }

  .hamburger__menu {
    height: 100%;
    width: 100%;

    .hamburger__menu__wrapper {
      @extend %container;
      height: 100%;
      padding: 4.5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .hamburger__menu__link {
        @extend %description-22;
        color: $color-white;
      }

      .hamburger__menu__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .hamburger__menu__list__link {
          @extend %title-144;
          color: $color-white;
        }
      }
    }
  }
}
