.navigation {
  position: fixed;
  top: 4.5rem;
  left: 0;
  width: 100%;
  font-family: $font-ppneue;
  mix-blend-mode: difference;
  z-index: 10;
}

.navigation__wrapper {
  @extend %container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %description-22;
  //   position: relative;
  //   top: 4.5rem;
}

.navigation__link {
  @extend %btn-a;
  padding-bottom: 0.5rem;
  color: white;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @include media("<=phone") {
    display: none;
  }
}

.navigation__link {
  @extend %link--hidden;
  color: white;
}

.navigation__link-2 {
  color: white;
  display: none;

  @include media("<=phone") {
    opacity: 1;
  }
}

// Hamburger

.navigation__wrapper-2 {
  height: 100vh;
  width: 100%;
  background-color: $color-black;
  display: none;
}
