.about {
  //   @extend %page;
  @extend %font-family;
  background-color: $color-liberty;
  opacity: 0;

  @include media("<=phone") {
    padding-top: 30rem;
  }
}

.about__wrapper {
  @extend %container;
  @extend %description-22;

  section {
    padding-bottom: 20rem;
  }
}

.about__nav {
  @extend %page__nav;
}

.about__nav--text {
  @extend %page__nav--text;
}

.about__info {
}

.about__info__wrapper {
  display: flex;

  @include media("<=phone") {
    flex-direction: column;
    gap: 5rem;
  }
}

.about__info__title {
  padding-right: 30rem;
}

.about__info__para {
}

.about__info__para__text {
  @extend %title-144;
  width: 65%;
  overflow: hidden;
}

.about__info__gallry__media {
  width: 86rem;
  height: 55rem;
  padding: 3rem 0;

  @include media("<=phone") {
    padding-bottom: 1rem;
  }
}

.about__info__gallry__media__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__info__para__text {
}

.about__info__journey {
  padding-top: 15rem;
  display: flex;
  justify-content: space-between;
  width: 70%;

  @include media("<=phone") {
    flex-direction: column;
    width: 100%;
    padding-top: 10rem;
    gap: 5rem;
  }
}

.about__info__journey__para {
  width: 25%;
  line-height: 1.2;

  @include media("<=phone") {
    width: 100%;
  }
}

.about__info__journey__into {
  width: 45%;

  @include media("<=phone") {
    width: 100%;
  }
}

.about__info__journey__intro__para {
  padding-bottom: 5rem;
  line-height: 1.2;
}

.about__info__journey__intro__media {
  width: 100%;
  height: 65rem;

  @include media("<=phone") {
    width: 65%;
    height: 50rem;
  }
}

.about__info__journey__intro__media__image {
  width: 100%;
  height: 100%;
}

.about_services {
}

.about__services__wrapper {
}

.about__service__header {
  display: flex;
  padding-bottom: 10rem;

  @include media("<=phone") {
    flex-direction: column;
    gap: 5rem;
  }
}

.about__service__header__title {
  padding-right: 30rem;
}

.about__service__header__para {
  @extend %title-144;
  text-transform: uppercase;
  line-height: 0.8;
}

.about__service__content__wrapper {
  padding-left: 34rem;

  @include media("<=phone") {
    padding-left: 0;
  }
}

.about__service__content {
  position: relative;

  &:nth-child(1) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: black;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: $color-black;
  }
}

.about__service__content__header {
  display: flex;
  align-items: center;
  padding: 5rem 0;
  position: relative;
}

.about__service__content__header__title {
  @include media("<=phone") {
    display: none;
  }
}

.about__service__content__header__para {
  position: absolute;
  left: 25%;

  @include media("<=phone") {
    left: 0;
  }
}

.about__service__content__header__icon {
  position: absolute;
  right: 0;
  height: 5rem;
  width: 5rem;
  @extend %center;
  cursor: pointer;
}

.about__service__content__body {
  height: 0;
  visibility: hidden;
  width: 70%;
  padding-left: 35.5rem;
  padding-bottom: 0;

  &--active {
    transition: all 0.5s $ease-in-out;
    height: 100%;
    visibility: visible;
    padding-bottom: 10rem;
  }

  @include media("<=phone") {
    padding-left: 0;
  }
}

.about__service__content__body__para {
  line-height: 1.2;
}

.about__awards {
}

.about__awards__wrapper {
}

.about__awards__header {
  display: flex;
  padding-bottom: 10rem;

  @include media("<=phone") {
    flex-direction: column;
    gap: 5rem;
  }
}

.about__awards__header__title {
  padding-right: 30rem;
}

.about__awards__header__para {
  @extend %title-144;
}

.about__awards__info__wrapper {
  padding-left: 34rem;

  @include media("<=phone") {
    padding-left: 0;
  }
}

.about__awards__info {
  display: flex;
  align-items: center;
  padding: 4.5rem 0;
  position: relative;

  &:not(:first-child) {
    text-transform: capitalize;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: $color-black;
  }

  @include media("<=phone") {
    padding: 3rem 0;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
}

.about__awards__info__name {
  position: absolute;
  left: 0;

  @include media("<=phone") {
    position: unset;
  }
}

.about__awards__info__platform {
  position: absolute;
  left: 40%;

  @include media("<=phone") {
    position: unset;
  }
}

.about__awards__info__year {
  position: absolute;
  right: 5rem;

  @include media("<=phone") {
    position: unset;
  }
}

.about__contact {
  padding-bottom: 10rem !important;
}

.about__contact__wrapper {
}

.about__contact--title {
  @extend %page__con--title;
}

.about__contact--title--num {
}

.about__contact--title--time {
  @extend %page__con--title--time;
}

.about__contact--title--text {
  width: 10%;

  @include media("<=phone") {
    width: 15%;
  }
}

.about__contact--email {
  padding-top: 10rem;
  width: min-content;
}

.about__contact--email--span {
  .about__contact--email--span--para {
    @extend %page__con--email--span--para;
  }

  &:hover {
    .about__contact--email--span--para::before {
      left: 100%;
    }
  }
}
