%description-16 {
  font-size: 1.6rem;
  font-weight: 500;
}

%description-22 {
  font-size: 2.2rem;

  @include media("<=phone") {
    font-size: 2rem;
  }
}

%description-40 {
  font-size: 4rem;

  @include media("<phone") {
    font-size: 3rem;
  }
}
