%page__con--title {
  display: flex;
  @extend %description-22;
  line-height: 1.2;

  @include media("<=phone") {
    justify-content: space-between;
  }
}

%page__con--title--time {
  margin: 0 50rem 0 28rem;
  width: 15%;

  @include media("<=phone") {
    margin: 0;
    width: 25%;
  }
}

%page__con--email--span--para {
  @extend %title-144;
  position: relative;
  @extend %hover-effect;
  width: fit-content;
  line-height: 1.1;

  &::after,
  &::before {
    height: 1rem;
  }
}
