.preloader {
  @extend %cover;
  @extend %font-family;
  background-color: black;
  color: white;
  position: fixed;
  z-index: 100;
}

.preloader__wrapper {
  @extend %container;
  height: 100%;
}

.preloader__text {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 20rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;

  @include media("<=phone") {
    width: 30rem;
  }
}

.preloader__number {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 8rem;
  transition: all 1s $ease-in-out;
}
