@font-face {
  font-family: $font-ppneue;
  src: url("../font/papu-medium.woff2") format("woff2"),
    url("../font/papu-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
