extends ../base.pug

block variables
    - var template = 'about'


block content
    .about
        .about__wrapper
            .about__nav
                    .about__nav--text
                        p.about__nav--text--para
                            | Currentyly doing
                            | Freelancing

                    .about__nav--text
                        p.about__nav--text--para
                            | Based in ahemdabad
                            | India

            section.about__info
                .about__info__wrapper
                    p.about__info__title 01/

                    .about__info__para
                        p.about__info__para__text
                            | PASSIONATE
                            | CREATIVE
                            | DEVELOPER

                        figure.about__info__gallry__media
                            img.about__info__gallry__media__image(data-src="../../shared/pic1.jpg", alt="hello")

                        p.about__info__para__text
                            | BASED IN
                            | AHMEDABAD

                        .about__info__journey
                            .about__info__journey__para
                                p.about__info__journey__para--text
                                    | A journey of curiosity
                                    | and explorations

                            .about__info__journey__into
                                .about__info__journey__intro__para
                                    p.about__info__journey__intro__para--text
                                        | I'm a creative developer with years of
                                        | experience in building products and
                                        | appealing web experiences. I've
                                        | collaborated with individuals and teams to
                                        | build experiences for SMEs and large
                                        | enterprises including Wise, Google,
                                        | Interswitch and Intelia.

                                p.about__info__journey__intro__para
                                    | Each project is an opportuinity to learn new
                                    | concepts across multiple domains
                                    | including arts, maths and physics.

                                figure.about__info__journey__intro__media
                                    img.about__info__journey__intro__media__image(data-src="../../shared/pic1.jpg", alt="hello")

            section.about_services
                .about__services__wrapper
                    .about__service__header
                        p.about__service__header__title 02/

                        p.about__service__header__para services

                    .about__service__content__wrapper
                        .about__service__content
                            .about__service__content__header
                                p.about__service__content__header__title 01/

                                p.about__service__content__header__para Front-end developer / engineering

                                p.about__service__content__header__icon +

                            .about__service__content__body
                                p.about__service__content__body__para
                                    | I plan, design, build, test and maintain scalable front end web applications.

                        .about__service__content
                            .about__service__content__header
                                p.about__service__content__header__title 02/

                                p.about__service__content__header__para interaction design / animation

                                p.about__service__content__header__icon +

                            .about__service__content__body
                                p.about__service__content__body__para
                                    | I plan, design, build, test and maintain scalable front end web applications.

                        .about__service__content
                            .about__service__content__header
                                p.about__service__content__header__title 03/

                                p.about__service__content__header__para creative implementetion

                                p.about__service__content__header__icon +

                            .about__service__content__body
                                p.about__service__content__body__para
                                    | I plan, design, build, test and maintain scalable front end web applications.

            section.about__awards
                .about__awards__wrapper
                    .about__awards__header
                        p.about__awards__header__title 03/

                        p.about__awards__header__para
                            | AWARDS AND
                            | RECOGNITIONS

                    .about__awards__info__wrapper
                        .about__awards__info
                            p.about__awards__info__name PROJECTS
                            p.about__awards__info__platform AWWWWARDS OR PLATFORM
                            p.about__awards__info__year YEAR

                        .about__awards__info
                            p.about__awards__info__name Richard Ekwonye Portfolio
                            p.about__awards__info__platform Awwwards Site of the Day
                            p.about__awards__info__year 2022

                        .about__awards__info
                            p.about__awards__info__name Richard Ekwonye Portfolio
                            p.about__awards__info__platform Awwwards Developer Award
                            p.about__awards__info__year 2022

                        .about__awards__info
                            p.about__awards__info__name Richard Ekwonye Portfolio
                            p.about__awards__info__platform Awwwards Honorable Mention
                            p.about__awards__info__year 2022

                        .about__awards__info
                            p.about__awards__info__name Richard Ekwonye Portfolio
                            p.about__awards__info__platform FWA of the Day
                            p.about__awards__info__year 2022

                        .about__awards__info
                            p.about__awards__info__name Richard Ekwonye Portfolio
                            p.about__awards__info__platform Godly
                            p.about__awards__info__year 2022

                        .about__awards__info
                            p.about__awards__info__name Richard Ekwonye Portfolio
                            p.about__awards__info__platform Muzli Portfolio Design Inspiration
                            p.about__awards__info__year 2022

                        .about__awards__info
                            p.about__awards__info__name Richard Ekwonye Portfolio
                            p.about__awards__info__platform Awwwards Honorable Mention
                            p.about__awards__info__year 2022

            section.about__contact
                .about__contact__wrapper
                    .about__contact--title
                        p.about__contact--title--num  04/

                        p.about__contact--title--time
                            | WANT TO
                            | WORK TOGETHER ?

                        p.about__contact--title--text
                            | SEND ME A
                            | MESSAGE

                    .about__contact--email
                        .about__contact--email--span
                            p.about__contact--email--span--para PRIYANSHUVANRA
                            p.about__contact--email--span--para 2@GMAIL.COM

        include ../partials/footer
