extends ../base.pug

block variables
    - var template = 'contact'

block content
    .contact
        .contact__wrapper
            .contact__nav
                .contact__nav--text
                    p.contact__nav--text--para(data-animation="lable")
                        | Currentyly doing
                        | Freelancing

                .contact__nav--text
                    p.contact__nav--text--para(data-animation="lable")
                        | Based in ahemdabad
                        | India

            section.contact__info
                .contact__info__email
                    p.contact__info__email__para(data-animation="lable") send me a message

                    .contact__info__email__span
                        p.contact__info__email__span__para(data-animation="title") priyanshuvanra
                        p.contact__info__email__span__para(data-animation="title") 2@gmail.com

                .contact__info__social
                    p.contact__info__social__para(data-animation="lable")
                        | or connect with
                        | me on social

                    .contact__info__social__links
                        a.contact__info__social__link(href="#")(data-animation="title") TWITTER
                        a.contact__info__social__link(href="#")(data-animation="title") INSTAGRAM
                        a.contact__info__social__link(href="#")(data-animation="title") GITHUB

                include ../partials/footer
