extends ../base.pug

block variables
    - var template = 'home'


block content
    .home
        .home__wrapper
                .home__nav
                    .home__nav--text
                        p.home__nav--text--para(data-animation="lable")
                            | Currentyly doing
                            | Freelancing

                    .home__nav--text
                        p.home__nav--text--para(data-animation="lable")
                            | Based in ahemdabad
                            | India

                section.home__info
                    .home__info--para
                        p.home__info--para--text
                            span(data-animation="title") Creative
                            span(data-animation="title") Developer

                    figure.home__gallery__media
                        img.home__gallery__media--image(alt="hello" data-src="../../shared/home_top.jpg" data-parallax="parallax")

                    .home__info__arrow__para
                        .home__info__arrow
                           span.home__info__arrow__logo ↓

                           p.home__info__arrow__text(data-animation="lable")
                               | I SUPPORT DESIGNERS
                               | AND AGENCIES WITH
                               | CREATIVE DEVELOPMENT

                        .home__info--para
                            p.home__info--para--text
                                span(data-animation="title") Priyanshu
                                span(data-animation="title") Vanra

                section.home__about
                    .home__about--wrapper
                        p.home__about--wrapper--num 01/

                        .home__about--wrapper--info
                            .home__about--wrapper--info--para
                                p.home__about--wrapper--info--para--text(data-animation="paragraph")
                                    | PASSIONATE ABOUT WEB TECHNOLOGIES. I LOVE WORKING AT
                                    | THE INTERSECTION OF CREATIVITY AND USER FRIENDLY
                                    | INTERFACES. I CREATE MEMORABLE WEB EXPERIENCES.

                                p.home__about--wrapper--info--para--text(data-animation="paragraph")
                                    | WHEN I'M NOT BUILDING OR EXPLORING NEW WEB
                                    | EXPERIENCES, I'M PROBABLY PLAYING GAMES OR WATCHING
                                    | CRICKET.

                            .home__about__wrpper--info--about
                                p.home__about__wrpper--info--about--para(data-animation="lable")
                                    | A blend of UI and
                                    | software engineering.

                                .home__about__wrpper--info--about--text
                                    p.home__about__wrpper--info--about--text--para(data-animation="lable")
                                        | My passion for technology and design has driven me to specialize in
                                        |  creating user-friendly and visually appealing websites and applications.
                                        | I have a deep understanding of HTML, CSS, JavaScript, and related frameworks
                                        |  and libraries, and am constantly staying up-to-date with the latest trends and
                                        |  technologies in the frontend development world.

                                    p.home__about__wrpper--info--about--text--para(data-animation="lable")
                                        | With my keen eye for detail and problem-solving skills,
                                        | I'm dedicated to delivering high-quality and responsive
                                        | web experiences that exceed my clients' expectations.

                                    a.home__about__wrpper--info--about--text--link(href="/work") More about me and services

                section.home__project
                    .home__project--title
                        p.home__project--title--num(data-animation="lable")  02/

                        .home__project--title--time
                            p.home__project--title--time--text(data-animation="lable")
                                | RECENT
                                | PROJECT

                        .home__project--title--text
                            p.home__project--title--text--para(data-animation="lable")
                                | CREATIVE
                                | DEVELOPMENT

                    .home__project--about
                        .home__project--about--info
                            a(href="/work").home__project--about--info--title--span
                                p.home__project--about--info--title--span--text(data-animation="title" data-cursor="true") VACATION
                                p.home__project--about--info--title--span--text(data-animation="title" data-cursor="true") RENTAL


                            .home__project--about--info--para
                                p.home__project--about--info--para--text(data-animation="lable")
                                    | AN ANALYSIS AND
                                    | DISCOVERY TOOL FOR
                                    | BOOK VACATION PLACE

                        figure.home__project--about--gallery--media
                            img.home__prpject--about--gallery--media--image(alt="helllo" data-src="../../shared/vaction.png" data-parallax="parallax")

                    .home__project--about
                        .home__project--about--info
                            a(href="work").home__project--about--info--title--span
                                p.home__project--about--info--title--span--text(data-animation="title" data-cursor="true") MINIMAX

                            .home__project--about--info--para
                                p.home__project--about--info--para--text(data-animation="lable")
                                    | A CLONE WEBSITE
                                    | FOR PRACTICE AND
                                    | MAKING PROJECT

                        figure.home__project--about--gallery--media
                            img.home__prpject--about--gallery--media--image(alt="helllo" data-src="../../shared/minimax.png" data-parallax="parallax")

                section.home__intro
                    .home__intro__wrapper
                        p.home__intro__wrapper--num(data-animation="lable") 03/

                        .home__intro__wrapper__info
                            p.home__intro__wrapper__info--text(data-animation="title") CRICKET,

                            figure.home__intro__wrapper__info--gallery--media
                                img.home__intro__wrapper__info--gallery--media--image(alt="hello" data-src="../../shared/crop_to.jpg" data-parallax="parallax")

                            p.home__intro__wrapper__info--text(data-animation="title") GAMING,

                            p.home__intro__wrapper__info--text(data-animation="title") MUSIC.

                            .home__intro__wrapper__info--paras
                                .home__intro__wrapper__info--paras--text
                                    p.home__intro__wrapper__info--paras--text--p(data-animation="lable")
                                        | I love to stay active and have fun. One of my favorite hobbies is playing
                                        | cricket - I find the sport to be exciting, challenging, and a great way to stay in shape.
                                        | When I'm not on the field, I enjoy listening to music and discovering new artists and genres.
                                        | Music has always been a source of inspiration and motivation for me.

                                a.home__intro__wrapper__info--paras-a(href="/about") More about me

                        p.home__intro__wrapper--num(data-animation="lable") About Me

                section.home__contact
                    .home__contact__wrapper
                        .home__contact--title
                            p.home__contact--title--num(data-animation="lable")  04/

                            .home__contact--title--time
                                p.home__contact--title--time--text(data-animation="lable")
                                    | WANT TO
                                    | WORK TOGETHER ?

                            .home__contact--title--text
                                p.home__contact--title--text-p(data-animation="lable")
                                    | SEND ME A
                                    | MESSAGE

                        .home__contact--email
                            span.home__contact--email--span
                                p.home__contact--email--span--para(data-animation="title") PRIYANSHUVANRA
                                p.home__contact--email--span--para(data-animation="title") 2@GMAIL.COM

                //- footer
                include ../partials/footer
