extends ../base.pug

block variables
    - var template = 'work'

block content
    .about
        .about__wrapper
            .about__nav
                    .about__nav--text
                        p.about__nav--text--para
                            | Currentyly doing
                            | Freelancing

                    .about__nav--text
                        p.about__nav--text--para
                            | Based in ahemdabad
                            | India

            section.about__intro
                .about__intro__wrapper
                    .about__intro__wrapper--header
                        p.about__intro__wrapper--num 01/

                        .about__intro__wrapper--para
                            p.about__intro__wrapper--para--text
                                | Projects
                                span.span__num 02

                            p.about__intro__wrapper--para--text
                                | Labs
                                span.span__num 03

                            .about__intro__wrapper--para--info
                                p.about__intro__Wrapper--para--info--text Projects

                                p.about__intro__Wrapper--para--info--para
                                    | A selected set of projects I've built
                                    | with individuals and teams. This is a
                                    | mix of personal, collaborative and
                                    | client owned projects.

                    .about__intro__wrapper--projects
                        .about__intro__wrapper--projects--info
                            p.about__intro__wrapper--projects--info--title
                                | CRUNNNNN
                                | CHIFFFY

                            p.about__intro__wrapper--projects--info--para
                                | AN ANALYSIS AND
                                | DISCOVERY TOOL FOR
                                | SPOTIFY USERS

                        figure.about__intro__wrapper--projects--gallery--media
                            img.about__intro__wrapper--projects--gallery--media--image(alt="helllo" src="../../shared/pic1.jpg")

                    .about__intro__wrapper--projects
                        .about__intro__wrapper--projects--info
                            p.about__intro__wrapper--projects--info--title
                                | CRUNNNNN
                                | CHIFFFY

                            p.about__intro__wrapper--projects--info--para
                                | AN ANALYSIS AND
                                | DISCOVERY TOOL FOR
                                | SPOTIFY USERS

                        figure.about__intro__wrapper--projects--gallery--media
                            img.about__intro__wrapper--projects--gallery--media--image(alt="helllo" src="../../shared/pic1.jpg")

            section.about__contact
                    .about__contact__wrapper
                        .about__contact--title
                            p.about__contact--title--num  02/

                            p.about__contact--title--time
                                | WANT TO
                                | WORK TOGETHER ?

                            p.about__contact--title--text
                                | SEND ME A
                                | MESSAGE

                        .about__contact--email
                            p.about__contact--email--para
                                | PRIYANSHUVANRA
                                | 2@GMAIL.COM

    include ../partials/footer
