extends ../base.pug

block variables
    - var template = 'work'

block content
    .work
        .work__wrapper
            .work__nav
                    .work__nav--text
                        p.work__nav--text--para
                            | Currentyly doing
                            | Freelancing

                    .work__nav--text
                        p.work__nav--text--para
                            | Based in ahemdabad
                            | India

            section.work__intro
                .work__intro__wrapper
                    .work__intro__wrapper--header
                        p.work__intro__wrapper--num 01/

                        .work__intro__wrapper--para
                            p.work__intro__wrapper--para--text
                                | Projects
                                span.span__num 02

                            p.work__intro__wrapper--para--text
                                | Labs
                                span.span__num 03

                            .work__intro__wrapper--para--info
                                p.work__intro__Wrapper--para--info--text Projects

                                p.work__intro__Wrapper--para--info--para
                                    | A selected set of projects I've built
                                    | with individuals and teams. This is a
                                    | mix of personal, collaborative and
                                    | client owned projects.

                    .work__intro__wrapper--projects
                        .work__intro__wrapper--projects--info
                            span.work__intro__wrapper--projects--info--title--span
                                p.work__intro__wrapper--projects--info--title--span--text CRUUUN
                                p.work__intro__wrapper--projects--info--title--span--text CHIFY

                            p.work__intro__wrapper--projects--info--para
                                | AN ANALYSIS AND
                                | DISCOVERY TOOL FOR
                                | SPOTIFY USERS

                        figure.work__intro__wrapper--projects--gallery--media
                            img.work__intro__wrapper--projects--gallery--media--image(alt="helllo" src="../../shared/pic1.jpg")

                    .work__intro__wrapper--projects
                        .work__intro__wrapper--projects--info
                            span.work__intro__wrapper--projects--info--title--span
                                p.work__intro__wrapper--projects--info--title--span--text INTELIA

                            p.work__intro__wrapper--projects--info--para
                                | GLOBALTECH TEAM
                                | AUGMENTATION SERVICE OF
                                | TOP-CLASS TALENTS

                        figure.work__intro__wrapper--projects--gallery--media
                            img.work__intro__wrapper--projects--gallery--media--image(alt="helllo" src="../../shared/pic1.jpg")

            section.work__contact
                    .work__contact__wrapper
                        .work__contact--title
                            p.work__contact--title--num  02/

                            p.work__contact--title--time
                                | WANT TO
                                | WORK TOGETHER ?

                            p.work__contact--title--text
                                | SEND ME A
                                | MESSAGE

                        .work__contact--email
                            .work__contact--email--span
                                p.work__contact--email--span--para PRIYANSHUVANRA
                                p.work__contact--email--span--para 2@GMAIL.COM

        include ../partials/footer
