.home {
  @extend %font-family;
  background-color: $color-liberty;
  color: $color-black;
}

.home__wrapper {
  @extend %container;
}

.home__nav {
  @extend %center;
  width: 50%;
  margin: 2rem auto;
  justify-content: space-between;
}

.home__nav--text {
  width: 11rem;
  text-align: center;
  @extend %description-14;
  line-height: 1.2;
  text-transform: capitalize;
}

.home__info {
}

.home__info--para {
  @extend %title-90;
  text-transform: uppercase;
  width: 55rem;
  line-height: 0.9;
  padding-bottom: 3rem;

  &:last-child {
    text-align: right;
  }
}

.home__gallery__media {
  width: 45rem;
  height: 20rem;
  padding-bottom: 3rem;
}

.home__gallery__media--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__info__arrow__para {
  display: flex;
  justify-content: space-between;
}

.home__info__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.home__info__arrow__logo {
}

.home__info__arrow__text {
}

.home__info--para {
}

.home__info--para--text {
}

.home__about {
}

.home__about--wrapper {
}

.home__about--wrapper--num {
}

.home__about--wrapper--info {
}

.home__about--wrapper--info--para {
}

.home__about--wrapper--info--para--text {
}

.home__about--wrapper--info--para--text {
}

.home__about__wrpper--info--about {
}

.home__about__wrpper--info--about--para {
}

.home__about__wrpper--info--about--text {
}

.home__about__wrpper--info--about--text--para {
}

.home__about__wrpper--info--about--text--para {
}

.home__about__wrpper--info--about--text--link {
}

.home__project {
}

.home__project--title {
}

.home__project--title--num {
}

.home__project--title--time {
}

.home__project--title--text {
}

.home__project--about {
}

.home__project--about--info {
}

.home__project--about--info--title {
}

.home__project--about--info--para {
}

.home__project--about--gallery--media {
}

.home__prpject--about--gallery--media--image {
}

.home__project--about {
}

.home__project--about--info {
}

.home__project--about--info--title {
}

.home__project--about--info--para {
}

.home__project--about--gallery--media {
}

.home__prpject--about--gallery--media--image {
}

.home__intro {
}

.home__intro__wrapper {
}

.home__intro__wrapper--num {
}

.home__intro__wrapper__info {
}

.home__intro__wrapper__info--text {
}

.home__intro__wrapper__info--gallery--media {
}

.home__intro__wrapper__info--gallery--media--image {
}

.home__intro__wrapper__info--text {
}

.home__intro__wrapper__info--text {
}

.home__intro__wrapper__info--paras {
}

.home__intro__wrapper__info--paras--text {
}

.home__intro__wrapper__info--paras-a {
}

.home__contact {
}

.home__contact__wrapper {
}

.home__contact--title {
}

.home__contact--title--num {
}

.home__contact--title--time {
}

.home__contact--title--text {
}

.home__contact--email {
}

.home__contact--email--para {
}
