.home {
  @extend %font-family;
  background-color: $color-liberty;
  color: $color-black;
}

.home__wrapper {
  @extend %container;

  section {
    padding-bottom: 20rem;
  }
}

.home__nav {
  @extend %center;
  width: 40%;
  margin: 4.2rem auto;
  justify-content: space-between;
}

.home__nav--text {
  width: 20rem;
  text-align: center;
  @extend %description-22;
  line-height: 1.2;
  text-transform: capitalize;
}

.home__info {
}

.home__info--para {
  @extend %title-144;
  text-transform: uppercase;
  width: 85rem;
  line-height: 0.9;
  padding-bottom: 5rem;

  &:last-child {
    text-align: right;
    padding-bottom: 0;
  }
}

.home__gallery__media {
  width: 73rem;
  height: 30rem;
  padding-bottom: 5rem;
}

.home__gallery__media--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__info__arrow__para {
  display: flex;
  justify-content: space-between;
}

.home__info__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.home__info__arrow__logo {
}

.home__info__arrow__text {
}

.home__about {
}

.home__about--wrapper {
  display: flex;
  justify-content: space-between;
}

.home__about--wrapper--num {
  width: 35%;
  @extend %description-22;
}

.home__about--wrapper--info {
  width: 100%;
  padding-right: 15rem;
}

.home__about--wrapper--info--para {
  @extend %description-40;
  line-height: 1.3;
  padding-bottom: 10rem;
}

.home__about--wrapper--info--para--text {
  padding-bottom: 5rem;

  &:last-child {
    padding-bottom: 0;
  }
}

.home__about__wrpper--info--about {
  display: flex;
  padding-right: 20rem;
}

.home__about__wrpper--info--about--para {
  line-height: 1.2;
  width: 65%;
  padding-right: 20rem;
  @extend %description-22;
}

.home__about__wrpper--info--about--text {
  width: 100%;
}

.home__about__wrpper--info--about--text--para {
  @extend %description-22;
  line-height: 1.3;
  padding-bottom: 4rem;
}

.home__about__wrpper--info--about--text--link {
  text-decoration: none;
  @extend %description-22;
  padding-bottom: 2rem;
  text-transform: capitalize;
  color: $color-black;
}

.home__project {
}

.home__project--title {
}

.home__project--title--num {
}

.home__project--title--time {
}

.home__project--title--text {
}

.home__project--about {
}

.home__project--about--info {
}

.home__project--about--info--title {
}

.home__project--about--info--para {
}

.home__project--about--gallery--media {
}

.home__prpject--about--gallery--media--image {
}

.home__project--about {
}

.home__project--about--info {
}

.home__project--about--info--title {
}

.home__project--about--info--para {
}

.home__project--about--gallery--media {
}

.home__prpject--about--gallery--media--image {
}

.home__intro {
}

.home__intro__wrapper {
}

.home__intro__wrapper--num {
}

.home__intro__wrapper__info {
}

.home__intro__wrapper__info--text {
}

.home__intro__wrapper__info--gallery--media {
}

.home__intro__wrapper__info--gallery--media--image {
}

.home__intro__wrapper__info--text {
}

.home__intro__wrapper__info--text {
}

.home__intro__wrapper__info--paras {
}

.home__intro__wrapper__info--paras--text {
}

.home__intro__wrapper__info--paras-a {
}

.home__contact {
}

.home__contact__wrapper {
}

.home__contact--title {
}

.home__contact--title--num {
}

.home__contact--title--time {
}

.home__contact--title--text {
}

.home__contact--email {
}

.home__contact--email--para {
}
