.work {
  @extend %font-family;
  background-color: $color-liberty;
  color: $color-black;
}

.work__wrapper {
  @extend %container;
  @extend %description-22;

  section {
    padding-bottom: 20rem;
  }
}

.work__nav {
  @extend %page__nav;
}

.work__nav--text {
  @extend %page__nav--text;
}

.work__intro {
  padding-top: 25rem;
}

.work__intro__wrapper {
}

.work__intro__wrapper--header {
  display: flex;
}

.work__intro__wrapper--num {
  padding-right: 30rem;
}

.work__intro__wrapper--para {
  text-transform: uppercase;
  padding-bottom: 25rem;
}

.work__intro__wrapper--para--text {
  @extend %title-144;
  position: relative;
  line-height: 1;

  &:nth-child(2) {
    opacity: 0.15;
  }
}

.span__num {
  @extend %description-40;
  position: absolute;
  padding-left: 1rem;
  top: 1.5rem;
}

.work__intro__wrapper--para--info {
  padding-top: 15rem;
  display: flex;
  width: 65%;
}

.work__intro__Wrapper--para--info--text {
  padding-right: 25rem;
}

.work__intro__Wrapper--para--info--para {
  line-height: 1.2;
}

.work__intro__wrapper--projects {
  display: flex;
  padding-bottom: 5rem;
}

.work__intro__wrapper--projects--info {
  width: 50%;
}

.work__intro__wrapper--projects--info--title--span {
  .work__intro__wrapper--projects--info--title--span--text {
    @extend %about-btn;
  }

  &:hover {
    .work__intro__wrapper--projects--info--title--span--text::before {
      left: 100%;
    }
  }
}

.work__intro__wrapper--projects--info--para {
  @extend %description-22;
  padding: 7rem 0 0 20rem;
  width: 55%;
  line-height: 1.2;
}

.work__intro__wrapper--projects--gallery--media {
  width: 50%;
  height: 112rem;
}

.work__intro__wrapper--projects--gallery--media--image {
  @extend %img-cover;
}

.work__contact {
  padding-bottom: 10rem !important;
}

.work__contact__wrapper {
}

.work__contact--title {
  @extend %page__con--title;
}

.work__contact--title--num {
}

.work__contact--title--time {
  @extend %page__con--title--time;
}

.work__contact--title--text {
  width: 10%;
}

.work__contact--email {
  padding-top: 10rem;
  width: min-content;
}

.work__contact--email--span {
  .work__contact--email--span--para {
    @extend %page__con--email--span--para;
  }

  &:hover {
    .work__contact--email--span--para::before {
      left: 100%;
    }
  }
}
